html, body {
	height: 100%;
}

.map-container {
	background-color: #ccc;
	width: 100%;
	height: 100%;
}

.issue-map-content {
	height: 200px;
	width: 100%;
	border: 1px solid;
}

#issue-map {
	height: 100%;
	width: 100%;
}